#!/bin/bash
UPTIME_KUMA_URL="{{ uptime_kuma_url }}"

(while true; do
    curl -s "$UPTIME_KUMA_URL"
    sleep {{ uptime_kuma_interval | default(60) }}
done) &  # Run in background

exit 0  # Ensure script exits immediately
